/* Imports */

/* font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Cormorant+Upright:wght@500&family=Ms+Madi&family=Roboto+Condensed:ital,wght@1,300&display=swap');
/* font-family: 'Abril Fatface', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@600&family=Cormorant+Upright:wght@500&family=Ms+Madi&family=Roboto+Condensed:ital,wght@1,300&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@600&family=Cormorant+Upright:wght@500&family=Ms+Madi&family=Nanum+Myeongjo:wght@700&family=Roboto+Condensed:ital,wght@1,300&display=swap');
/* font-family: 'Inconsolata', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@600&family=Cormorant+Upright:wght@500&family=Inconsolata&family=Ms+Madi&family=Nanum+Myeongjo:wght@700&family=Roboto+Condensed:ital,wght@1,300&display=swap');

/* Variables */

:root {
  --custom-black: rgb(7, 6, 6);
  --font-color: rgb(226, 223, 223);
  --custom-blue: #8AAAE5;
  --custom-white: #F8F9F9 ;
  --logo-font: 'Caveat', cursive;
  --intro-font: 'Abril Fatface', cursive;
  --links-font: 'Nanum Myeongjo', serif;
  --info-h4-font: 'Inconsolata', monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--custom-white);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
